.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.App-header {
  background-image: url('fond_casino.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  font-family: "Apple Chancery, cursive";
  min-height: 100vh;
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid #000;
  font-size:10px;
  margin: 5px;
  width: 50px;
  text-align: center;
  width: 138px;
  height: 193px;
}

.hand {
  width: 700px;
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.button{
  width: 110px;
  height: 50px;
}
.newButton{
  width: 150px;
  height: 100px;
}

.action{
  display: flex;
  flex-direction: column;
}
.mise {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  justify-content: center; /* Centre les éléments horizontalement */
}

.mise div {
  display: flex;
  align-items: center; /* Centrer les éléments dans le div */
  justify-content: space-between; /* Écarte les éléments de manière égale */
}

.montant{
  font-size: 30px;
  height: 60px;
  width: 60px;
}

.text {
  margin-right: 2px;
  margin-top: 50%;
  font-size: 30px;
  height: 60px;
  width: 60px;
  text-align: center;
}


button.text {
  width: 50px;
  height: 50px;
  margin: 0 10px; /* Ajouter un peu d'espace entre les boutons */
}

.game{
  display: flex;
  flex-direction: row;
}

.card-back {
  width: 60px;
  height: 90px;
  background-color: blue;
  border-radius: 5px;
}